# DIA 3

## Temario

- Listas
- Tuplas
- Sets
- Diccionarios

# ESTRUCTURAS DE DATOS

Las estructuras de datos son formas de organizar información para trabajar con ella de manera eficiente. Veremos las siguientes:

- Listas --> ordenadas, modificables, permiten duplicados.
- Tuplas -->  ordenadas, inmutables, permiten duplicados.
- Sets --> no ordenados, sin duplicados.
- Diccionarios--> pares clave:valor.

# LISTAS

Las listas son colecciones ordenadas que podemos modificar y almacenan elementos de distintos tipos de datos. Se definen usando corchetes [] y los elementos se separan por comas. Veamos un primer ejemplo sobre una lista de compras.

In [1]:
lista_de_compras = ["manzanas", "pan", "leche", "huevos", "mantequilla", "queso","jamón"]
print(lista_de_compras)

['manzanas', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamón']

In [2]:
print(lista_de_compras[6])

jamón

In [3]:
# Agregar un elemento a la lista .append()
lista_de_compras.append("sopa")
print(lista_de_compras)

['manzanas', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamón', 'sopa']

In [5]:
# Agregar un elemento en una posicion especifica
lista_de_compras.insert(1, "platano")
print(lista_de_compras)

['manzanas', 'platano', 'platano', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamón', 'sopa']

In [6]:
print(lista_de_compras)

['manzanas', 'platano', 'platano', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamón', 'sopa']

In [7]:
# Para elimiar un elemento de una lista existe el remove y el pop
lista_de_compras.remove("platano")
print(lista_de_compras)

['manzanas', 'platano', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamón', 'sopa']

In [8]:
lista_de_compras.pop() # Sin nada dentro del parentesis borra el ultimo elemento, en este caso, "sopa"
lista_de_compras.pop(7) # O puedes agarrar la posicion que quieras, siempre iniciando desde 0
# Nota: te retorna el numero eliminado

'jamón'

In [11]:
# Podemos recorrer el arreglo por medio de un For
for elementos in lista_de_compras:
  print(elementos)

manzanas
platano
pan
leche
huevos
mantequilla
queso

In [12]:
# len saca el tamaño de la lista
for i in range(len(lista_de_compras)):
  print(f"{i+1} - {lista_de_compras[i]}")

1 - manzanas
2 - platano
3 - pan
4 - leche
5 - huevos
6 - mantequilla
7 - queso

In [20]:
# Piedra, papel o tijeras
import random
opciones = ['piedra', 'papel', 'tijeras']

while True:
  while True:
    eleccion = input("\nElige piedra, papel, o tijeras (o escribe salir si ya no quieres jugar): ")
    if eleccion not in opciones and not eleccion == 'salir':
      print("Opcion no valida, intenta de nuevo.")
    else:
      break

  if eleccion == 'salir':
    print("Gracias por jugar!")
    break
  aleatoria = random.choice(opciones)
  print("La computadora eligio: ", aleatoria)

  # Determinamos el ganador
  if eleccion == aleatoria:
    print("Empate!")
  elif (eleccion == 'piedra' and aleatoria == 'tijeras') \
       or (eleccion == 'papel' and aleatoria == 'piedra') \
       or (eleccion == 'tijeras' and aleatoria == 'papel'):
    print("Ganaste!")
  else:
    print("Perdiste... :(")

Elige piedra, papel, o tijeras (o escribe salir si ya no quieres jugar): piedra
La computadora eligio:  papel
Perdiste... :(

Elige piedra, papel, o tijeras (o escribe salir si ya no quieres jugar): salir
Gracias por jugar!

In [15]:
promedios = [55.6, 97.5, 23.6, 97.5, 72.4, 100]
print(promedios)

promedios.sort() # Sirve para ordenar la lista de manera ascendente
print(promedios)

promedios.sort(reverse=True) # Sirve para ordenar la lista de manera descendente
print(promedios)

[23.6, 55.6, 72.4, 97.5, 97.5, 100]
[100, 97.5, 97.5, 72.4, 55.6, 23.6]

In [16]:
# Podemos ingresar el ultimo elemento de una lista
print(promedios[-1])

23.6

In [17]:
# Encontrar el mayor y el menor de una lista
print(max(promedios))
print(min(promedios))

100
23.6

In [21]:
# Declaracion y uso de matrices
calificaciones = [[100, 88, 93], [99, 56, 72]]
i = 1
for cali_i in calificaciones:
  print(f"\nAlumno {i}")
  j = 1
  for cali_j in cali_i:
    print(f" Cali {j}: {cali_j}")
    j =+ 1
  j = 0
  i += 1

Alumno 1
 Cali 1: 100
 Cali 1: 88
 Cali 1: 93

Alumno 2
 Cali 1: 99
 Cali 1: 56
 Cali 1: 72

# Tuplas
Colecciones ordenadas pero inmutables

In [22]:
# Hagamos un programa donde guardemos fechas de nacimiento de un grupo en una tupla
fechas = ('10/10/05', '22/03/02', '26/08/08', '25/11/03')
print(fechas)

('10/10/05', '22/03/02', '26/08/08', '25/11/03')

In [23]:
# ES INMUTABLE
fechas.append('10/06/07') # TE VA A MARCAR ERROR

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
fecha_lista = list(fechas) # Aqui ya puedes usar los comandos basicos de una lista

# SETS
Los sets son colecciones SIN orden y que no permiten elementos duplicados

In [26]:
nombre = {'Angel', 'Eliud', 'Diana', 'Juan', 'Juan'}
print(nombre)
print(type(nombre))

{'Juan', 'Eliud', 'Diana', 'Angel'}
<class 'set'>

In [28]:
distintos_datos = {'Angel', 1, 'Diana', 'Juan', 'Juan', 4.8}
print(distintos_datos)

{'Juan', 1, 'Diana', 4.8, 'Angel'}

In [29]:
# Add
nombre.add("Leonardo")
print(nombre)

{'Juan', 'Leonardo', 'Eliud', 'Angel', 'Diana'}

In [30]:
print(nombre[2])

TypeError: 'set' object is not subscriptable

In [31]:
nombre[2] = 'Axel'

TypeError: 'set' object does not support item assignment

In [32]:
# Union
matutino = {20322, 22183, 123321, 392873, 23420}
vespertino = {16432, 577753, 32245, 246543, 20322}
# Union pero con .union()
total_matriculas = matutino.union(vespertino)
print(total_matriculas)
# Union pero con |
total_matriculas = matutino | vespertino
print(total_matriculas)

{20322, 577753, 22183, 392873, 246543, 16432, 32245, 123321, 23420}
{20322, 577753, 22183, 392873, 246543, 16432, 32245, 123321, 23420}

In [33]:
# Interseccion
ca = {1234, 123, 4223, 532, 6453, 689, 109}
al = {1234, 11, 22, 33, 44, 55}
# Interseccion con .intersection()
ca_al = ca.intersection(al)
print(ca_al)
# Interseccion usando &
ca_al = ca & al
print(ca_al)

{1234}
{1234}

In [35]:
# Diferencia
# Diferencia usando .difference()
solo_calculo = ca.difference(al)
print(solo_calculo)
# Diferencia usando -
solo_calculo = ca - al
print(solo_calculo)

{109, 689, 532, 6453, 123, 4223}
{109, 689, 532, 6453, 123, 4223}

In [36]:
nombre = {'Angel', 'Eliud', 'Diana', 'Juan', 'Juan'}
# remove, pop
nombre.remove('Angel') # Puedes eliminar el que tu quieras
print(nombre)
nombre.pop() # Elimina un elemeto de manera aleatoria
print(nombre)

{'Juan', 'Eliud', 'Diana'}
{'Eliud', 'Diana'}

In [37]:
# Eliminar todo el SET
nombre.clear()
print(nombre)

set()

# Diccionarios
Los diccionarios son colecciones no ordendadas de pares clave:valor

In [39]:
alumno = {
    # clave      valor
    "nombre": "Eliud Sanchez",
    "edad": 21,
    "carrera": "LCC",
    "semestre": 7,
    "promedio": 88,
    "calificaciones": [100, 94, 94, 97, 100]
}

print(type(alumno))
print(alumno)

<class 'dict'>
{'nombre': 'Eliud Sanchez', 'edad': 21, 'carrera': 'LCC', 'semestre': 7, 'promedio': 88, 'calificaciones': [100, 94, 94, 97, 100]}

In [40]:
print("El alumno ", alumno["nombre"], "esta estudiando ", alumno["carrera"])

El alumno  Eliud Sanchez esta estudiando  LCC

In [41]:
# Agregar al diccionario
alumno["area preferida"] = "Ciencia de datos"
print(alumno)

{'nombre': 'Eliud Sanchez', 'edad': 21, 'carrera': 'LCC', 'semestre': 7, 'promedio': 88, 'calificaciones': [100, 94, 94, 97, 100], 'area preferida': 'Ciencia de datos'}

In [42]:
for valor in alumno:
  print(alumno[valor])

Eliud Sanchez
21
LCC
7
88
[100, 94, 94, 97, 100]
Ciencia de datos

In [45]:
for clave, valor in alumno.items():
  print(clave, ": ", valor)
  # Devuelve una vista de todos los pares clave:valor del diccionario

nombre :  Eliud Sanchez
edad :  21
carrera :  LCC
semestre :  7
promedio :  88
calificaciones :  [100, 94, 94, 97, 100]
area preferida :  Ciencia de datos

In [46]:
# El metodo .clear() tambien se puede usar con diccionarios
# Tenemos el .get que nos ayuda a obtener el valor (value) de cierta clave (key)
print(alumno.get("nombre"))

Eliud Sanchez

In [49]:
alumno_1 = alumno.items()
print(alumno_1)
print(type(alumno_1))
alumno_lista = list(alumno_1)
print(alumno_lista)

dict_items([('nombre', 'Eliud Sanchez'), ('edad', 21), ('carrera', 'LCC'), ('semestre', 7), ('promedio', 88), ('calificaciones', [100, 94, 94, 97, 100]), ('area preferida', 'Ciencia de datos')])
<class 'dict_items'>
[('nombre', 'Eliud Sanchez'), ('edad', 21), ('carrera', 'LCC'), ('semestre', 7), ('promedio', 88), ('calificaciones', [100, 94, 94, 97, 100]), ('area preferida', 'Ciencia de datos')]

In [50]:
# El metodo .values() sirve para obtener los valores del diccionario, tambien se puede usar en la interaccion
alumno_v = alumno.values()
print(type(alumno_v))
print(alumno_v)

<class 'dict_values'>
dict_values(['Eliud Sanchez', 21, 'LCC', 7, 88, [100, 94, 94, 97, 100], 'Ciencia de datos'])

In [51]:
if "carrera" in alumno:
  print("Existe carrera")
else:
  print("No existe carrera")

if "dinero" in alumno:
  print("El alumno tiene dinero")
else:
  print("El alumno no tiene dinero")

Existe carrera
El alumno no tiene dinero

In [52]:
# .copy() puedes copiar todo el diccionario en una nueva variable
# Update --> Sirve para cambiar los valores (valores) (.update())
alumno.update({"semestre": 6})
print(alumno)

{'nombre': 'Eliud Sanchez', 'edad': 21, 'carrera': 'LCC', 'semestre': 6, 'promedio': 88, 'calificaciones': [100, 94, 94, 97, 100], 'area preferida': 'Ciencia de datos'}